@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
}

html, 
body {
    height: 100%;

    background-color: ghostwhite;

    font-family: 'Poppins';
}

.canvas {
    border: 1px solid gray;
    background-color: white;
    height: 60vh;
    width: 98%;
    margin: 1% auto;
}

.controls {
    background-color: ghostwhite;

    padding: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    gap: 4rem;
}

.section {
    display: flex;
    flex-direction: row;
    gap: 4rem;

    justify-content: space-between;
}

.buttons {
    display: flex;
    gap: 1rem;
}

.buttons > a {
    border: 1px solid gray;

    text-decoration: none;
    color: black;
    font-size: 20px;

    padding: 6px 10px 6px 10px;
    border-radius: 3px;
}

a:hover {
    background-color: black;
    color:white;

    cursor: pointer;
}

.inputs {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    margin-left: auto;
    margin-right: auto;
}

.input {
    border: 1px solid gray;
    border-radius: 3px;

    font-size: 20px;

    padding: 6px 10px 6px 10px;
}